*{
    box-sizing:border-box;
}
@font-face{
    font-family:"Funkoz";
    src:url(FUNKOZ.otf);
}
@font-face{
    font-family:"Simplelife";
    src:url(The\ Simple\ Life.otf);
}
body{background-image:url(background1.jpg);
background-size:100%;}
ul, li{font-family:"Funkoz";}
p{font-family:'Times New Roman', Times, serif;
color:white;
font-style:italic;}
p.footer{font-family:"Simplelife";
font-style:normal;}
.header{
    color:white;
    text-align:center;
    font-family:"Funkoz";
}
.header img{
    width:1280px;
    height:250px;
    position:static;
    text-align:center;
}
.dafpus{
    text-align:center;
}
.dafpus:hover{
    background-color:#A07855;
    border-radius:20px;
    font-size:20px;
}
.footer{
    text-align:center;
    height:50px;
    background-color:#DAA06D;
    padding:1px;
}
ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}
li{float:left;}
li a, .dropbtn{
    display:inline-block;
    color:#4a1415;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color:#a16d55;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    width:85px;
    z-index:1;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0,2);
}
.dropdown-content a{
    color:#4a1415;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
.dropdown-content a:hover{
    background-color:#cc997a;
}
.dropdown:hover .dropdown-content{
    display:contents;
}
li a, .active{
    color:#4a1415;
}
li a:hover, .dropdown:hover, .dtopbtn{
    color:#e4c7ad;
}