*{
    box-sizing:border-box;
}
@font-face{
    font-family:"Funkoz";
    src:url(FUNKOZ.otf);
}
@font-face{
    font-family:"Simplelife";
    src:url(The\ Simple\ Life.otf);
}
body{background-image:url(background1.jpg);
background-size:100%;}
ul, li{font-family:"Funkoz";}
p{font-family:"Simplelife";
color:white;}
h2{font-family:"Funkoz";
color:white;}
h1.biodatadiri{
    text-align:center;
    background-color:#c49e85;
    font-family:"BULGOGI";
    font-size:50px;
    color:azure;
}
h3{
    text-align:center;
    color:#895737;
    background-color:white;
    font-size:30px;
    line-height:10%;
}
.header{
    color:white;
    text-align:center;
    font-family:"Funkoz";
}
.header img{
    width:1280px;
    height:250px;
    position:static;
    text-align:center;
}
.biodata{
    text-align:center;
}
.biodata:hover{
    background-color:#c08552;
    border-radius:20px;
    font-size:20px;
}
.tujuan{
    text-align:center;
}
.tujuan:hover{
    background-color:#dab49d;
    border-radius:20px;
    font-size:20px;
}
img.foto{
    width:160px;
    height:200px;
    border-radius:10px;
    border: 8px solid #5e3023;}
img.foto:hover{
    box-shadow: 5px 5px 2px 2px #f3e9dc;
}
.footer{
    text-align:center;
    height:50px;
    background-color:#DAA06D;
    padding:1px;
}
ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}
li{float:left;}
li a, .dropbtn{
    display:inline-block;
    color:#4a1415;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color:#a16d55;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    width:85px;
    z-index:1;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0,2);
}
.dropdown-content a{
    color:#4a1415;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
.dropdown-content a:hover{
    background-color:#cc997a;
}
.dropdown:hover .dropdown-content{
    display:contents;
}
li a, .active{
    color:#4a1415;
}
li a:hover, .dropdown:hover, .dtopbtn{
    color:#e4c7ad;
}